*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   height: 100vh;
   width: 100vw;
}

/* General container */
#player-cnt{
   width: 880px;
   margin: 50px auto;
}

/* Container with input box */
#player-cnt #request{
   border: 1px solid black;
   text-align: center;
   padding: 10px 0;
}
#request h3{
   margin-bottom: 20px;
}
#request #playerNumb{
   border-radius: 3px;
   border-style: none;
   border: 1px solid black;
   padding: 3px;
}
#request #insertNumb{
   border-style: none;
   border-radius: 3px;
   padding: 5px 10px;
   margin-left: 10px;
}

/* Container with results from above */
#results #playerList, #results #stats{
   float: left;
}
#results #playerList{
   width: 30%;
}
#results #stats{
   width: 70%;
}
#results::after{
   content: '';
   display: table;
   clear: both;
}
